@model int

<li class="nav-item position-relative">
    <a asp-controller="Cart" asp-action="Index" class="nav-icon cart-icon">
        <i class="fas fa-shopping-bag"></i>
        @if (Model > 0)
        {
            <span class="cart-badge">@Model</span>
        }
    </a>
</li>
